<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>donna  Mare</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
        .button-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        .button-container div {
            margin: 10px;
        }
        .button-container img {
            width: 300px;
            height: auto;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Vestiti per donna per l'adunanza</h1>
    <div class="button-container">
        <div>
            <img src="immaggine_vestito_donna1.jpg" alt="Sito 2" onclick="window.open('https://it.shein.com/SHEIN-Clasi-Striped-Patchwork-Rolled-Cuff-Blazer-Suit-p-26865470.html?src_identifier=st%3D2%60sc%3Dtuta%20rossa%20donna%60sr%3D0%60ps%3D1&src_module=search&src_tab_page_id=page_search1712085487188&pageListType=4&imgRatio=3-4&main_attr=27_78&mallCode=1', '_blank')">
        </div>
        <div>
            <img src="vestito_donna2.jpg" alt="Sito 2" onclick="window.open('https://it.shein.com/SHEIN-Priv-Women-S-Long-Sleeve-V-Neck-Mesh-Jumpsuit-p-28192883.html?src_identifier=st%3D2%60sc%3Dtuta%20rossa%20donna%60sr%3D0%60ps%3D1&src_module=search&src_tab_page_id=page_search1712085487188&mallCode=1&pageListType=4&imgRatio=3-4', '_blank')">
        </div>
        </div>
        <div>
            <img src="vestito_donna9.png" alt="Sito 3" onclick="window.open('https://it.shein.com/SHEIN-Clasi-Women-s-Sequin-Flower-Decor-Sleeveless-Prom-Evening-Jumpsuits-p-27779113.html?src_identifier=st%3D2%60sc%3Dtuta%20rossa%20donna%60sr%3D0%60ps%3D1&src_module=search&src_tab_page_id=page_search1712085487188&mallCode=1&pageListType=4&imgRatio=3-4', '_blank')">
        </div>
        <div>
            <img src="vestito_donna4.png" alt="Sito 3" onclick="window.open('https://it.shein.com/SHEIN-Priv-Plus-Size-Mesh-Splice-Round-Neck-Jumpsuit-p-29706176.html?src_identifier=st%3D2%60sc%3Dtuta%20rossa%20donna%60sr%3D0%60ps%3D1&src_module=search&src_tab_page_id=page_search1712085487188&mallCode=1&pageListType=4&imgRatio=3-4', '_blank')">
        </div>
    </div>
</body>
</html>
