<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>donna  Mare</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
        .button-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        .button-container div {
            margin: 10px;
        }
        .button-container img {
            width: 300px;
            height: auto;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Vestiti donna Mare</h1>
    <div class="button-container">
        <div>
            <img src="vestito_donna8.png" alt="Sito 1" onclick="window.open('https://it.shein.com/SHEIN-Clasi-Mesh-Insert-Beaded-Hem-Jumpsuit-p-27977319.html?src_identifier=st%3D2%60sc%3Dtuta%20rossa%20donna%60sr%3D0%60ps%3D1&src_module=search&src_tab_page_id=page_search1712085487188&mallCode=1&pageListType=4&imgRatio=3-4', '_blank')">
        </div>
        <div>
            <img src="vestito_donna5.png" alt="Sito 2" onclick="window.open(' https://it.shein.com/SHEIN-LUNE-Solid-Color-Sleeveless-Jumpsuit-For-Summer-p-31582571.html?src_identifier=st%3D2%60sc%3Dtuta%20rossa%20donna%60sr%3D0%60ps%3D1&src_module=search&src_tab_page_id=page_search1712085487188&pageListType=4&imgRatio=3-4&main_attr=27_112&mallCode=1', '_blank')">
        </div>
        <div>
            <img src="vestito_donna12.png" alt="Sito 3" onclick="window.open('https://it.shein.com/SHEIN-Essnce-Plus-Size-Pleated-Halter-Belted-Jumpsuit-p-27140358.html?src_identifier=st%3D2%60sc%3Dtuta%20rossa%20donna%60sr%3D0%60ps%3D1&src_module=search&src_tab_page_id=page_search1712085487188&mallCode=1&pageListType=4&imgRatio=3-4', '_blank')">
        </div>
    </div>
</body>
</html>
