<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uomo Mare</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
        .button-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        .button-container div {
            margin: 10px;
        }
        .button-container img {
            width: 300px;
            height: auto;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Vestiti Uomo lavoro</h1>
    <div class="button-container">
        <div>
            <img src="vestito_uomo31.png" alt="Sito 1" onclick="window.open('https://it.shein.com/ManfinityHommeUomoAbbigliamentoEstivoCasualaManicheCorteconPantaloni,SetEstivoaTintaUnitaeTessutoMorbido-p-32940514-cat-1975.html?share_from=null&url_from=GM7511825504174583808&ref=www&rep=dir&ret=it', '_blank')">
        </div>
        <div>
            <img src="vestito_uomo35.png" alt="Sito 2" onclick="window.open('https://it.shein.com/ManfinityHommePoloCasualDaUomoAManicheCorteConBottoni-p-31286065-cat-1980.html?share_from=null&url_from=GM7511829619243986944&ref=www&rep=dir&ret=it', '_blank')">
        </div>
        <div>
            <img src="vestito_uomo38.png" alt="Sito 3" onclick="window.open('https://it.shein.com/MagliettaAManicheCorteConStampaDiLettereDaUomo,AdattaPerLusoQuotidianoInPrimaveraEdEstate-p-32210104-cat-1980.html?share_from=null&url_from=GM7511829971188793344&ref=www&rep=dir&ret=it', '_blank')">
        </div>
    </div>
</body>
</html>