<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uomo Mare</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
        .button-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        .button-container div {
            margin: 10px;
        }
        .button-container img {
            width: 300px;
            height: auto;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Vestiti Uomo Adunanza</h1>
    <div class="button-container">
        <div>
            <img src="vestito_uomo20.png" alt="Sito 1" onclick="window.open('http://api-shein.shein.com/h5/sharejump/appjump?link=VHejIu7f4xN&localcountry=IT&url_from=GM7511823446641295360 ', '_blank')">
        </div>
        <div>
            <img src="vestito_uomo25.png" alt="Sito 2" onclick="window.open('https://it.shein.com/ManfinityModeCamiciaAManicheLungheARigheMulticolorePerUomo-p-31253554-cat-1979.html?share_from=null&url_from=GM7511824429087145984&ref=www&rep=dir&ret=it', '_blank')">
        </div>
        <div>
            <img src="vestito_uomo27.png" alt="Sito 3" onclick="window.open('https://it.shein.com/ManfinityModePantaloniCasualUomoDiColoreUnitoConTasche-p-29631870-cat-3179.html?share_from=null&url_from=GM7511824699828391936&ref=www&rep=dir&ret=it', '_blank')">
        </div>
    </div>
</body>
</html>
