<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uomo Mare</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
        .button-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        .button-container div {
            margin: 10px;
        }
        .button-container img {
            width: 300px;
            height: auto;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Vestiti Uomo laurea</h1>
    <div class="button-container">
        <div>
            <img src="vestito_uomo23.png" alt="Sito 2" onclick="window.open('http://api-shein.shein.com/h5/sharejump/appjump?link=VHej6FqOOyd&localcountry=IT&url_from=GM7511823279456337920 ', '_blank')">
        </div>
        <div>
            <img src="vestito_uomo37.png" alt="Sito 2" onclick="window.open('https://it.shein.com/ManfinityHommeMagliettaAManicaCortaDaUomoConColloATacca-p-31429360-cat-1980.html?share_from=null&url_from=GM7511829764174725120&ref=www&rep=dir&ret=it', '_blank')">
        </div>
        <div>
            <img src="vestito_uomo35.png" alt="Sito 3" onclick="window.open('https://it.shein.com/ManfinityHommePoloCasualDaUomoAManicheCorteConBottoni-p-31286065-cat-1980.html?share_from=null&url_from=GM7511829619243986944&ref=www&rep=dir&ret=it', '_blank')">
        </div>
        
    </div>
</body>
</html>
